div#innerBlock {
    background: white;
    margin: 3px;
	padding:20px;
	border:2px solid #00000052;
	box-shadow: 1px 6px 20px -6px black;
	text-align:center;
	    border-radius: 10px;
}
#blockTitle{font-family:arial;border-bottom:2px solid #00000040;margin-bottom:10px}
#innerBlock img{width:200px;margin-bottom:10px}
#innerBlock p {
    color: #000000c9;
}
#innerBlock:hover{transform:translatey(-7px);transition:0.5s}



/* staff */
.team_section {
    text-align: center;
    background:-webkit-gradient(linear,left top, left bottom,from(rgb(231, 241, 238,0.9)),to(rgb(231, 241, 238,0.9))),
        url("../images/tean_bg.jpg");
    background:linear-gradient(rgb(231, 241, 238,0.9),rgb(231, 241, 238,0.9)),
        url("../images/tean_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    
    
}

.team_section h2{
   color: #333366;
}
.team_section p{
    color: #666666;
}
.team_section h3{
    color: #333333;
    margin-bottom: .7rem;
    
}

.team-image {
    width: 15rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    border-radius: 10rem;
   
}
.team_section h2::after{
    background: #cccccc;
}
.role{
    color: #33ccff;
    font-size: 1.6rem;
    text-transform: capitalize;
}
.team_section.Box p{
    
    color: #999999;
    
}
.team-image:hover{
    border: 1px solid orange;
}
/* end staff */